body {
  background-image: url("https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center center;
  background-attachment: fixed;
  background-color: #5b9fe5;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}

body h1{
  font-family: 'Raleway', sans-serif;
  background-color: rgba(255, 115, 229, 0.95);
  color: black;
  font-size: 48px;
  font-weight: 700;
  border-radius: 60px;
  text-align: center;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
  opacity: 70%;
}

body h2 {
  font-family: 'Raleway', sans-serif;
  background-color: #5b9fe5;
  font-display: center;
  font-size: 18px;
  font-weight: 500;
  color: black;
  border-radius: 25px;
  border: black;
  text-align: center;
  margin-bottom:60px;
  opacity: 65%;
  padding: 5px;
}

body h3 {
  font-family: 'Raleway', sans-serif;
  background-color: #5b9fe5;
  font-display: center;
  font-size: 18px;
  color: black;
  border-radius: 25px;
  border: black;
  text-align: center;
  margin-bottom:60px;
  font-weight: bold;
  padding: 5px;
}

title {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  color: black;
}

.scoreboard {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  align-items:flex-end;
  font-size: 14px;
  justify-content: space-between;
  flex-basis: auto;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #000000;
  background-color:white
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(218, 96, 195, 0.95) !important;
}

.startBtn {
  font-family: 'Raleway', sans-serif;
  margin-top: 2vh;
  color: rgba(218, 96, 195, 0.95);
  background-color: transparent;
  font-weight: bold;
  border: 2px solid #afb7e5;
  border-radius: 20px;
  padding: 5px;
}

.collectBtn {
  font-family: 'Raleway', sans-serif;
  margin-top: 2vh;
  color: rgba(218, 96, 195, 0.95);
  background-color: transparent;
  font-weight: bold;
  border: 2px solid #afb7e5; 
  border-radius: 20px;
  padding: 5px;
}

.resetBtn {
  font-family: 'Raleway', sans-serif;
  margin-top: 2vh;
  color: rgba(218, 96, 195, 0.95);
  background-color: transparent;
  font-weight: bold;
  border: 2px solid #afb7e5;
  border-radius: 20px;
  padding: 5px;
}
