body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-image: url("https://images.pexels.com/photos/4737484/pexels-photo-4737484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center center;
  background-attachment: fixed;
  background-color: #5b9fe5;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  color: black;
  padding: 10px;
  max-width: 1500px;
  min-width: 320px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 115, 229, 0.95);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: black;
  border-radius: 60px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  word-spacing: 4px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #5b9fe5;
  font-size: 18px;
  color: black;
  border-radius: 60px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #5b9fe5;
  font-size: 18px;
  color: black;
  border-radius: 25px;
  border: black;
  text-align: center;
  margin-bottom:60px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid black;
}

title {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card {
  margin: 10px;
}

.card.outline {
  border: 0.15em dashed #000000;
  background-color:white
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(255, 115, 229, 0.95) !important;
}

#compHostages {
  background-color: lightgray;
}

#compDiscard {
  background-color: lightgray;
}

#playerHostages {
background-color: #88bbee;
}

#playerDiscard {
  background-color: #88bbee;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
  color: lightgray;
  font-size: 14px;
  border: black 2px solid;
  border-radius: 60px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.5) ;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 115, 229, 0.95);
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  border-radius: 40px;
  border: 2px solid black;
  padding: 10px;
  min-width: 130px;
}

.flipBtn {
  margin-top: 2vh;
  flex-direction: row;
}

.collectBtn {
  margin-top: 2vh;
  flex-direction: row;
}

.resetBtn {
  margin-top: 2vh;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: lightgray;
  font-size: 11px;
  margin-top: auto;
  position: relative;
  padding: 50px;
  margin-top: 20px;
}

a {
  color: lightgray;
}

p {
  text-align: center;
}