
body {
  background-color: #fffef2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}

body h1{
  margin: top;
  background-color: #e9e0d4;
  color:#cb2e0b;
  font-size: 48px;
  border-radius: 60px;
  text-align: center;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
}

body h2 {
  background-color: #e9e0d4;
  font-display: center;
  font-size: 20px;
  color: #5b9fe5;
  border-radius: 40px;
  border: black;
  text-align: center;
  margin-bottom:80px;
}

title {
  font-size: large;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin-top: 2vh;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
  border-radius: 20px;
}

.btn-2 {
  margin-top: 2vh;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a; 
  border-radius: 20px;
  padding: 5px;
}

.btn-3 {
  margin-top: 2vh;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
  border-radius: 20px;
  padding: 5px;
}

